.sidebar {
  display: table;
  float: none;
  margin: 0 auto;
  padding-bottom: 20px;
  width: 80%;
}

.sidebar .widget {
  display: inline-block;
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  background: #fdfdfd;
  border: 1px solid #ede9e9;
  border-radius: 3px;
}

.sidebar .widget:last-child {
  margin-bottom: 0;
}

.sidebar .widget > ul {
  display: inline-block;
  list-style: outside none none;
  margin-bottom: 0;
  padding: 0 25px 20px;
  width: 100%;
}

.sidebar .widget-title {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #424242;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 30px;
  padding: 20px 20px 10px;
  position: relative;
  text-transform: uppercase;
  width: 100%;
}

.sidebar .widget-title::before {
  bottom: 0;
  content: "";
  height: 2px;
  left: 20px;
  position: absolute;
  width: 20%;
}

.sidebar .widget li {
  display: inline-block;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
}

.sidebar .widget li:last-child {
  margin-bottom: 0;
}

.sidebar .widget li i {
  color: #999;
  display: inline-block;
  font-size: 11px;
  margin-right: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}

.sidebar .widget li > a {
  font-size: 15px;
  text-transform: capitalize;
  display: inline-block;
  position: relative;
  font-weight: 500;
}

.sidebar .widget li > a i {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  color: #fff;
  font-size: 25px;
}

.sidebar .widget ul.naves li i {
  display: inline-block;
  font-size: 16px;
  vertical-align: baseline;
}

.activity-meta {
  display: inline-block;
  width: 100%;
}

.activity-meta > i {
  color: #999;
  float: left;
  font-size: 12px;
  width: 100%;
}

.activity-meta > span {
  display: inline-block;
  width: 100%;
  font-size: 13px;
  font-weight: 600;
}

.activity-meta > h6 {
  float: left;
  font-size: 13px;
  margin-bottom: 0;
  margin-top: 7px;
  width: 100%;
}

.activity-meta > h6 a {}

.activitiez > li::before {
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 2px;
}

.activitiez > li {
  padding-left: 12px;
}

.central-meta {
  background: #fdfdfd none repeat scroll 0 0;
  border: 1px solid #ede9e9;
  border-radius: 3px;
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  padding: 25px;
}

.new-postbox {
  display: inline-block;
  width: 100%;
}

.new-postbox > figure {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: top;
  width: 10.4%;
}

.newpst-input {
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
  width: 85.5%;
}

.newpst-input > form {
  display: inline-block;
  width: 100%;
}
.newpst-input textarea {
  float: left;
  width: 100%;
}
.attachments {
  border: 1px solid #eee;
  display: block;
  padding: 10px;
  text-align: right;
  border-top: 0;
  background: #fff;
}

.attachments > ul {
  list-style: outside none none;
  margin-bottom: 0;
  padding-left: 0;
}

.attachments li {
  display: inline-block;
  margin-left: 5px;
}

textarea {
  border: 1px solid #eeeeee;
  border-radius: 6px 6px 0 0;
  padding: 10px;
  width: 100%;
  border-bottom: 0;
}

form button {
  border: medium none;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  padding: 3px 10px;
}

.attachments .fileContainer [type="file"] {
  right: 6px;
  top: -18px;
  width: 20px;
}

.friend-info {
  display: inline-block;
  position: relative;
  width: 100%;
}

.friend-info > figure {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  width: 8%;
}

.friend-name {
  display: inline-block;
  padding-left: 10px;
  vertical-align: middle;
  width: 90%;
}

.friend-name > ins {
  float: left;
  font-weight: 700;
  width: 100%;
  font-size: 18px;
  text-decoration: none;
}

.friend-name > span {
  color: #999;
  float: left;
  font-size: 12px;
  text-transform: capitalize;
  width: 100%;
}

.post-meta {
  float: left;
  margin-top: 15px;
  width: 100%;
}

.post-meta > img {
  float: left;
  width: 100%;
}

.description {
  float: left;
  margin-top: 12px;
  width: 100%;
}

.description > p {
  margin-bottom: 20px;
}

.description > span {
  color: #2a2a2a;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  display: inline-block;
  margin-bottom: 5px;
}

.description > p a {
  font-weight: 600;
}

span.status {
  background: #bebebe none repeat scroll 0 0;
  border-radius: 50%;
  bottom: 0;
  display: inline-block;
  height: 12px;
  padding: 2px;
  position: absolute;
  right: 0;
  width: 12px;
}

span.status::after {
  background: white none repeat scroll 0 0;
  border-radius: 100%;
  content: "";
  height: 6px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 6px;
}

span.status.f-online {
  background: #7FBA00;
}


span.status.f-away {
  background: #ffd300;
}

span.status.f-off {
  background: #a9a9a9;
}

.colla-apps {
  float: left;
  list-style: outside none none;
  padding-left: 0;
  width: 100%;
}

.colla-apps > li {
  display: inline-block;
  width: 100%;
}

.colla-apps > li a {
  border: 1px solid #5d6371;
  border-radius: 5px;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 15px;
  padding: 5px 0;
  text-align: center;
  text-transform: capitalize;
  width: 100%;
  transition: all 0.2s linear 0s;
}

.colla-apps > li:last-child a {
  margin-bottom: 0;
}

.colla-apps > li a:hover {
  color: #fff;
}

.colla-apps > li a i {
  margin-right: 12px;
}
.bottombar {
  background: #f6f6f6;
  float: left;
  padding: 20px 0;
  width: 100%;
}

.copyright {
  float: left;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.2px;
}

.bottombar i {
  float: right;
}

.followers {
  max-height: 260px;
  position: relative;
}

.followers > li figure {
  display: inline-block;
  margin-bottom: 0;
  max-width: 45px;
  min-width: 45px;
  vertical-align: middle;
  width: 45px;
}

.friend-meta {
  display: inline-block;
  padding-left: 10px;
  vertical-align: middle;
  width: 72%;
}

.friend-meta > h4 {
  display: inline-block;
  font-size: 16px;
  margin-bottom: 0;
  width: 100%;
}

.friend-meta > h4 a {
  transition: all 0.2s linear 0s;
}

.friend-meta > a {
  display: inline-block;
  font-size: 12px;
  position: relative;
}

.user-setting {
  background: #fff none repeat scroll 0 0;
  border-radius: 0 0 3px 3px;
  position: absolute;
  left: -15px;
  text-align: left;
  top: 100%;
  width: 150px;
  opacity: 0;
  visibility: hidden;
  line-height: initial;
  border: 1px solid #e1e8ed;
}

.user-setting.active {
  opacity: 1;
  visibility: visible;
}

.user-setting > a {
  display: inline-block;
  font-size: 13px;
  padding: 10px 15px;
  text-transform: capitalize;
  width: 100%;
  background: #fafafa;
  position: relative;
}

.user-setting .status {
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.user-setting > a i {
  color: #999;
  font-size: 12px;
  margin-right: 8px;
}

.user-setting > a:hover {
  background: #f1f1f1;
}
.setting-row input {
  display: none;
}

.setting-row input + label {
  background-color: #bbbbbb;
  background-image: none;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 1em;
  height: 20px;
  line-height: 1;
  padding: 0.16667rem;
  position: relative;
  text-align: center;
  transition: all 0.1s ease-in-out 0s;
  width: 52px;
}

.setting-row input + label::before {
  color: #b7b7b7;
  content: attr(data-off-label);
  display: block;
  font-family: inherit;
  font-size: 0.7rem;
  font-weight: 500;
  line-height: 13px;
  margin: 0.21667rem;
  min-width: 20px;
  overflow: hidden;
  position: absolute;
  right: 0.21667rem;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  transition: all 0.1s ease-in-out 0s;
}

.setting-row input + label::after {
  background-color: #f7f7f7;
  border-radius: 0px;
  box-shadow: none;
  content: "";
  height: 14px;
  left: 0.267rem;
  top: 3px;
  position: absolute;
  transition: all 0.1s ease-in-out 0s;
  width: 14px;
}


/*input[switch]:checked + label {
  background-color: #33b7a0;
}*/

.setting-row input:checked + label::before {
  color: #fff;
  content: attr(data-on-label);
  left: 0.21667rem;
  right: auto;
}

.setting-row input:checked + label::after {
  background-color: #f7f7f7;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.3);
  left: 2.16667rem;
}
.setting-row {
  border-bottom: 1px solid #e1e8ed;
  display: inline-block;
  margin-bottom: 7px;
  padding-bottom: 7px;
  text-align: center;
  width: 100%;
}

.setting-row > span,
.setting-row > label {
  display: inline-block;
  vertical-align: text-top;
}

.setting-row > span {
  font-size: 13px;
  line-height: initial;
  text-align: left;
  text-transform: capitalize;
  width: 76%;
}

.setting-row > label {
  margin-bottom: 0;
}
.theme-layout::before {
  background-repeat: repeat;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99;
  transition: all 0.5s linear 0s;
  visibility: hidden;
  opacity: 0;
}

.theme-layout.active::before {
  opacity: 1;
  visibility: visible;
}
.widget .socials > li {
  margin-bottom: 10px;
}

.socials > li a {
  color: #fff;
  padding: 3px 10px;
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, .4);
}

.socials > li a i {
  color: #333;
  float: left;
}
li.facebook {
  background: #2f5b9d;
}

li.twitter {
  background: #38bff1;
}

li.google {
  background: #f24756;
}
.socials > li a span {
  font-size: 13px;
}

.socials > li a ins {
  float: right;
  font-size: 12px;
  margin-top: 4px;
  text-decoration: none;
}

.socials > li a:hover {
  color: #fff !important;
}
.edit-phto,
.add-btn > a {
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
}
#map-canvas {
  height: 400px;
}
.your-page > figure {
  display: inline-block;
  margin-bottom: 0;
  max-width: 55px;
  vertical-align: middle;
  width: 55px;
}

.page-meta {
  display: inline-block;
  padding-left: 10px;
  vertical-align: middle;
  width: 69.8%;
}

.your-page {
  display: inline-block;
  padding: 0 20px 10px;
  width: 100%;
}

.page-meta > a {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  width: auto;
}

.page-meta > span {
  display: inline-block;
  font-size: 13px;
  width: 100%;
}

.page-meta > span i {
  margin-right: 5px;
  vertical-align: sub;
}

.page-meta > span em {
  border: 1px solid #cecece;
  display: inline-block;
  line-height: 8px;
  margin-left: 3px;
  padding: 3px;
}

.page-likes {
  float: left;
  margin: 20px 0;
  width: 100%;
}

.nav.nav-tabs.likes-btn {
  border-bottom: medium none;
  display: inline-block;
  width: 100%;
}

.nav.nav-tabs.likes-btn > li {
  float: left;
  margin-bottom: 10px;
  text-align: center;
  width: 50%;
}

.nav.nav-tabs.likes-btn > li a {
  background: #eeeeee none repeat scroll 0 0;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0.5px;
  padding: 5px 0;
  text-transform: uppercase;
  width: 100%;
}

.nav.nav-tabs.likes-btn > li a.active {
  color: #fff;
}

.page-likes .tab-content .tab-pane > span {
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  float: left;
  width: 100%;
}

.page-likes .tab-content .tab-pane > span i {
  color: green;
  font-size: 15px;
  margin-right: 6px;
}

.users-thumb-list {
  float: left;
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

.users-thumb-list > a {
  display: inline-block;
  margin-left: -17px;
}

.users-thumb-list > a:first-child {
  margin-left: 0;
}

.users-thumb-list > a img {
  border: 2px solid #fff;
  border-radius: 50%;
}

.page-likes .tab-content .tab-pane > a {
  color: green;
  float: left;
  font-size: 13px;
  text-align: center;
  text-transform: capitalize;
  width: 100%;
}

.page-likes .tab-content .tab-pane > a:hover {
  text-decoration: underline;
}

.nav.nav-tabs {
  border: medium none;
}

.frnds {
  float: left;
  width: 100%;
}

.frnds .nav-tabs .nav-item {
  margin-right: 50px;
}

.frnds .nav-tabs .nav-item:last-child {
  margin-right: 0;
}

.frnds .nav-tabs .nav-item a.active {
  border-bottom: 1px solid;
}

.frnds .nav-tabs .nav-item a {
  font-weight: bold;
}

.frnds .nav-tabs .nav-item > span {
  border: 1px solid #ccc;
  border-radius: 30%;
  display: inline-block;
  font-size: 14px;
  line-height: initial;
  margin-left: 5px;
  text-align: center;
  width: 25px;
  color: #8d8d8d;
}

a.add-butn.more-action {
  background: lightslategray none repeat scroll 0 0;
  right: 74px;
}

#frends a.add-butn.more-action {
  right: 89px;
}

.nav-tabs--vertical {
  border-bottom: none;
  border-right: 1px solid #ddd;
  display: flex;
  flex-flow: column nowrap;
}

.nav-tabs--left .nav-item + .nav-item {
  text-transform: capitalize;
}

.nav-tabs--left .nav-link {
  transition: border-color .125s ease-in;
  white-space: nowrap;
  font-size: 14px;
}

.nav-tabs--left .nav-link:hover {
  border-color: transparent;
}

.nav-tabs--left .nav-link.active {
  color: #fff;
  border-radius: 0;
  border: none;
}

.nav-tabs--left .nav-link.active:hover {
  color: #fff;
  border-color: #dee2e6 #fff #dee2e6 #dee2e6;
}

.mt-2,
.my-2 {
  margin-top: 0;
  border: 1px solid #efefef;
}

.d-flex .tab-content {
  background: #f7f7f7 none repeat scroll 0 0;
  display: inline-block;
  width: 100%;
}

.basics,
.education {
  padding-left: 30px;
  padding-top: 20px;
}

.education {
  list-style: none;
}

.basics > li,
.education > li {
  color: #999;
  font-size: 14px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.basics > li i,
.education > li i {
  margin-right: 30px;
}

.location-map #map-canvas {
  height: 290px;
}

#work > div {
  color: #909090;
  font-size: 14px;
  margin-bottom: 0;
}

#work > div a {
  margin-bottom: 5px;
}

.personal > p {
  color: #7c7c7c;
  font-size: 14px;
}

.about .personal {
  display: inline-block;
  width: 100%;
}

#work > p a {
  display: inline-block;
  text-decoration: underline;
}

#work > p img {
  margin-right: 10px;
}

#work {
  padding: 20px;
}

.f-title {
  font-size: 17.5px;
  font-weight: 600;
  text-transform: capitalize;
  color: #000;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  display: inline-block;
}

.f-title::before {
  bottom: 8px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%;
}

.f-title.ext-margin {
  margin-bottom: 20px;
  margin-top: 40px;
}

.f-title i {
  font-size: 14px;
  margin-right: 5px;
}

.groups > span i {
  margin-right: 5px;
}

.groups > span {
  font-size: 20px;
  font-weight: 400;
}
.responsive-header {
  display: none;
}

.mh-head {
  background: #4bb5ef;
  color: #fff;
  height: auto;
}

.mh-text {
  font-size: 16px;
  font-weight: bold;
}

.mh-head .hamburger-inner,
.mh-head .hamburger-inner:after,
.mh-head .hamburger-inner:before {
  background: #fff;
}

.circle-media.mm-listview {
  float: left !important;
  padding-left: 0;
  margin: 30px 0 0 0 !important;
}

.circle-media.mm-listview > li a {
  background: #e7e7e7 none repeat scroll 0 0;
  line-height: 32px;
  padding: 0;
  text-align: center;
  width: 32px;
}


/*.circle-media.mm-listview > li a:hover {
color: #fff;
}*/

.mm-listview > li:not(.mm-divider)::after {
  display: none;
}

.res-menu ul.mm-listview > li,
.res-menu ul.mm-listview > li span {
  text-transform: uppercase;
  font-size: 12px;
}

.mm-navbar .mm-title {
  text-transform: uppercase;
}

.mh-head {
  float: left;
  width: 100%;
}

.mh-head .mh-text {
  display: inline-block;
  margin-top: 6px;
  padding: 0;
}

.mh-text > a {
  display: inline-block;
  font-family: hobostd;
  font-size: 20px;
  vertical-align: middle;
}

.mh-text img {
  display: inline-block;
  vertical-align: sub;
}

.mh-head .mh-form {
  padding: 10px 0;
}

.mm-panel.mm-hasnavbar.mm-opened .setting-row span {
  width: 72%;
}
#page-contents {
  position: relative;
}

.static,
.static > div {
  position: static !important;
}
.top-area > ul.main-menu > li ul {
  left: 0;
  list-style: outside none none;
  padding-left: 0;
  position: absolute;
  text-align: left;
  top: 100%;
  background: #fff;
  width: 200px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 4px 7px 20px 0 rgba(0, 0, 0, 0.09);
  transition: all 0.2s linear 0s;
  border-radius: 0 0 5px 5px;
  border-top: 2px solid;
}

.top-area > ul.main-menu > li:hover > ul {
  opacity: 1;
  visibility: visible;
}

.top-area > ul.main-menu {
  float: left;
  margin-left: 0px;
  line-height: 60px;
}

.top-area > ul.main-menu > li {
  line-height: 59px;
  margin-right: 30px;
  padding-right: 30px;
  position: relative;
}

.top-area > ul.main-menu > li a {
  color: #575b5f;
  font-size: 14px;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 0.3px;
}

.top-area > ul.main-menu > li::after {
  content: "ï„‡";
  font-family: fontawesome;
  font-size: 13px;
  position: absolute;
  right: 10px;
  top: 0;
}

.top-area > ul.main-menu > li > ul li {
  line-height: initial;
}

.top-area > ul.main-menu > li > ul li a {
  color: #5f5f5f;
  display: inline-block;
  font-size: 13.5px;
  font-weight: normal;
  padding: 10px 15px;
  width: 100%;
  text-transform: capitalize;
  transition: all 0.2s linear 0s;
  border-radius: 0 0 5px 5px;
}

.top-area > ul.main-menu > li > ul li a:hover {
  background: #f5f5f5 none repeat scroll 0 0;
  padding-left: 17px;
}
