header.stick {
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
}

header.sticky {
  position: fixed;
}
.user-setting > a {
  display: inline-block;
  font-size: 13px;
  padding: 10px 15px;
  text-transform: capitalize;
  width: 100%;
  background: #fafafa;
  position: relative;
}

.user-setting .status {
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.user-setting > a i {
  color: #999;
  font-size: 12px;
  margin-right: 8px;
}

.user-setting > a:hover {
  background: #f1f1f1;
}
.top-area > ul.main-menu > li ul {
  left: 0;
  list-style: outside none none;
  padding-left: 0;
  position: absolute;
  text-align: left;
  top: 100%;
  background: #fff;
  width: 200px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 4px 7px 20px 0 rgba(0, 0, 0, 0.09);
  transition: all 0.2s linear 0s;
  border-radius: 0 0 5px 5px;
  border-top: 2px solid;
}

.top-area > ul.main-menu > li:hover > ul {
  opacity: 1;
  visibility: visible;
}

.top-area > ul.main-menu {
  float: left;
  margin-left: 0px;
  line-height: 60px;
}

.top-area > ul.main-menu > li {
  line-height: 59px;
  margin-right: 30px;
  padding-right: 30px;
  position: relative;
}

.top-area > ul.main-menu > li a {
  color: #575b5f;
  font-size: 14px;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 0.3px;
}

.top-area > ul.main-menu > li::after {
  content: "";
  font-family: fontawesome;
  font-size: 13px;
  position: absolute;
  right: 10px;
  top: 0;
}

.top-area > ul.main-menu > li > ul li {
  line-height: initial;
}

.top-area > ul.main-menu > li > ul li a {
  color: #5f5f5f;
  display: inline-block;
  font-size: 13.5px;
  font-weight: normal;
  padding: 10px 15px;
  width: 100%;
  text-transform: capitalize;
  transition: all 0.2s linear 0s;
  border-radius: 0 0 5px 5px;
}

.top-area > ul.main-menu > li > ul li a:hover {
  background: #f5f5f5 none repeat scroll 0 0;
  padding-left: 17px;
}
