<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5">
                <div class="widget">
                    <div class="foot-logo">
                        <div class="logo">
                            <a [routerLink]="['/home']"  title=""><img id="logo" src="https://res.cloudinary.com/viuni/image/upload/v1679768150/nhv31ihenh1sbvbiktwm.jpg" alt="" width="200px" height="200px"></a>
                        </div>
                        <p>
                            SVConnect giúp kết nối người sử dụng và chia sẻ các khoảng khắc đáng nhớ!
                        </p>
                    </div>
                    <ul class="location">
                        <li>
                            <i class="ti-map-alt"></i>
                            <p>89-Hưng Yên-Việt Nam</p>
                        </li>
                        <li>
                            <i class="ti-mobile"></i>
                            <p>+1-56-346 345</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-5">
                <div class="widget">
                    <div class="widget-title"><h4>Theo dõi</h4></div>
                    <ul class="list-style">
                        <li><i class="fa fa-facebook-square"></i> <a href="https://web.facebook.com/shopcircut/" title="">facebook</a></li>
                        <li><i class="fa fa-twitter-square"></i><a href="https://twitter.com/login?lang=en" title="">twitter</a></li>
                        <li><i class="fa fa-instagram"></i><a href="https://www.instagram.com/?hl=en" title="">instagram</a></li>
                        <li><i class="fa fa-google-plus-square"></i> <a href="https://plus.google.com/discover" title="">Google+</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-5">
                <div class="widget">
                    <div class="widget-title"><h4>Điều hướng</h4></div>
                    <ul class="list-style">
                        <li><a href="about.html" title="">about us</a></li>
                        <li><a href="contact.html" title="">contact us</a></li>
                        <li><a href="terms.html" title="">terms & Conditions</a></li>
                        <li><a href="#" title="">RSS syndication</a></li>
                        <li><a href="sitemap.html" title="">Sitemap</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-5">
                <div class="widget">
                    <div class="widget-title"><h4>download apps</h4></div>
                    <ul class="colla-apps">
                        <li><a href="https://play.google.com/store?hl=en" title=""><i class="fa fa-android"></i>android</a></li>
                        <li><a href="https://www.apple.com/lae/ios/app-store/" title=""><i class="ti-apple"></i>iPhone</a></li>
                        <li><a href="https://www.microsoft.com/store/apps" title=""><i class="fa fa-windows"></i>Windows</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer><!-- footer -->
