.singin > form {
  border: 1px solid #eaeaea;
  float: left;
  padding: 10px;
  position: relative;
  width: 100%;
}

.singin > form > input {
  background: #f8f8f8 none repeat scroll 0 0;
  border: medium none;
  font-size: 13px;
  margin-bottom: 5px;
  padding: 10px 20px;
  width: 100%;
}

.singin {
  float: left;
  width: 100%;
}

.singin > form > input[type="checkbox"] {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 5px;
  width: auto;
}

.singin > form > label {
  color: #999;
  font-size: 12px;
  margin: 0;
}

.singin > form > button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin-top: 20px;
  padding: 8px 10px;
  width: 100%;
}

.singin form .checkbox {
  display: inline-block;
  margin-bottom: 0;
  width: 100%;
}

.singin form .checkbox label {
  font-size: 12px;
  margin: 0;
}
.login-form form input {
  background: #f4f2f2 none repeat scroll 0 0;
  border: medium none;
  font-size: 13px;
  padding: 11px 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

.login-form > form {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
}

.login-form {
  display: inline-block;
  vertical-align: middle;
  width: 55%;
}

.login-form button {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  font-size: 13px;
  padding: 10.5px 20px;
}

.logout-meta {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.logout-meta > h2 {
  display: inline-block;
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 20px;
  text-transform: uppercase;
  width: 100%;
}

.logout-meta > span {
  display: inline-block;
  margin-bottom: 6px;
  width: 100%;
  color: #515365;
  font-weight: bold;
}

.logout-meta > p {
  display: block;
  letter-spacing: 0.3px;
  margin: 0 auto;
  max-width: 40%;
}

.logout-meta > p a {
  color: red;
}
.theme-layout::before {
  background-repeat: repeat;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99;
  transition: all 0.5s linear 0s;
  visibility: hidden;
  opacity: 0;
}

.theme-layout.active::before {
  opacity: 1;
  visibility: visible;
}
