<div class="central-meta">
  <div class="frnds">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="active" href="#frends" data-toggle="tab">Follower</a>
        <span>55</span>
      </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active fade show" id="frends">
        <ul class="nearby-contct">
          <li *ngFor="let follower of listFollower">
            <div class="nearly-pepls">
              <figure>
                <a href="#" title=""
                  ><img
                    [src]="
                      !follower.user_info.avatar_image
                        ? 'https://res.cloudinary.com/viuni/image/upload/v1679817819/qcnaqac3vw1deasdfqt1.jpg'
                        : follower.user_info.avatar_image.link_image
                    "
                    alt=""
                /></a>
              </figure>
              <div class="pepl-info">
                <h4>
                  <a
                    [routerLink]="['/timeline', follower.user_info.id]"
                    title=""
                    >{{ follower.user_info.last_name }}
                    {{ follower.user_info.first_name }}</a
                  >
                </h4>
                <a
                  title=""
                  class="add-butn more-action"
                  style="
                    background-color: rgb(220, 92, 237);
                    border-radius: 20px;
                    color: white;
                  "
                  data-ripple=""
                  (click)="follow(follower.user_info.id)"
                  [hidden]="
                    follower.user_info.id.toString() != myId ? false : true
                  "
                  >follow</a
                >
                <a
                  title=""
                  class="add-butn"
                  data-ripple=""
                  style="
                    background-color: rgb(92, 92, 237);
                    border-radius: 20px;
                    color: white;
                  "
                  [hidden]="
                    follower.user_info.id.toString() != myId ? false : true
                  "
                  (click)="addFriend(follower.user_info.id.toString())"
                  >add friend</a
                >
              </div>
            </div>
          </li>
        </ul>
        <div class="lodmore">
          <button class="btn-view btn-load-more"></button>
        </div>
      </div>
      <div class="tab-pane fade" id="frends-req">
        <button class="btn-view btn-load-more"></button>
      </div>
    </div>
  </div>
</div>
