span.status {
  background: #bebebe none repeat scroll 0 0;
  border-radius: 50%;
  bottom: 0;
  display: inline-block;
  height: 12px;
  padding: 2px;
  position: absolute;
  right: 0;
  width: 12px;
}

span.status::after {
  background: white none repeat scroll 0 0;
  border-radius: 100%;
  content: "";
  height: 6px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 6px;
}

span.status.f-online {
  background: #7FBA00;
}


span.status.f-away {
  background: #ffd300;
}

span.status.f-off {
  background: #a9a9a9;
}
.chat-box {
  background: #fbfbfb none repeat scroll 0 0;
  border-radius: 3px;
  bottom: -2px;
  position: absolute;
  right: 100%;
  width: 300px;
  z-index: 9999999;
  transform: translate(40px) scale(0);
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s linear 0s;
  border: 1px solid #e1e8ed;
  text-align: left;
}

.chat-box.show {
  transform: translate(0) scale(1);
  opacity: 1;
  visibility: visible;
}

.chat-head {
  color: #fff;
  display: inline-block;
  padding: 10px 20px 10px 30px;
  position: relative;
  width: 100%;
}

.chat-list > ul > li {
  margin-bottom: 20px;
  display: inline-block;
  width: 100%;
}

.chat-head > h6 {
  display: inline-block;
  font-weight: bold;
  margin: 0;
  vertical-align: top;
}

.chat-head .more {
  float: right;
}

.more > span {
  margin-left: 15px;
  cursor: pointer;
  position: relative;
}

.chat-head span.status {
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.more-optns:hover > ul {
  opacity: 1;
  visibility: visible;
}

.more-optns > ul {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 3px;
  box-shadow: 0 10px 23px #8b8b8b;
  color: #333;
  line-height: initial;
  list-style: outside none none;
  margin-bottom: 0;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 22;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s linear 0s;
}

.more-optns > ul li {
  display: inline-block;
  font-size: 11px;
  line-height: 24px;
  width: 100%;
}

.chat-list {
  display: inline-block;
  padding: 15px;
  position: relative;
  width: 100%;
}

.chat-list > ul {
  margin: 0;
  padding-left: 0;
  max-height: 290px;
  overflow: hidden;
  position: relative;
  padding-right: 8px;
}

.chat-thumb {
  display: inline-block;
  vertical-align: top;
  width: 28px;
}

.notification-event {
  display: inline-block;
  margin-left: 8px;
  vertical-align: top;
  width: 84%;
}

.chat-thumb > img {
  border-radius: 100%;
}

.chat-message-item {
  background: #f0f4f9 none repeat scroll 0 0;
  border-radius: 7px;
  display: inline-block;
  font-size: 13px;
  padding: 12px;
}

.notification-date {
  color: #999;
  display: inline-block;
  font-size: 11px;
  width: 100%;
}

.chat-list > ul li.you .chat-thumb {
  float: right;
}

.chat-list > ul li.you .notification-event {
  float: right;
  margin-left: 0;
  margin-right: 8px;
}

.chat-list > ul li.you .chat-message-item {
  background: rgba(202, 239, 142, 0.55) none repeat scroll 0 0;
}

.text-box {
  position: relative;
}

.text-box > textarea {
  font-size: 14px;
  height: 50px;
  line-height: 27px;
  border-radius: 0;
  background: #f0f0f0;
}

.text-box > button {
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  visibility: hidden;
}


/*---- inbox page ---- */

.inbox-sec {
  float: left;
  width: 100%;
  border: 1px solid #e1e8ed;
  background: #fafafa;
  margin-left: 30px;
}

.inbox-sec > .row {
  margin: 0 -1px;
}

.inbox-sec > .row > div {
  padding: 0 1px;
}

.inbox-navigation {
  background: #ffffff none repeat scroll 0 0;
  float: left;
  padding-bottom: 59px;
  width: 100%;
  height: 100%;
}

.inbox-panel-head {
  float: left;
  padding: 30px;
  width: 100%;
}

.inbox-panel-head > img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  float: left;
  margin-right: 20px;
  width: 60px;
}

.inbox-panel-head > h1 {
  display: block;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.4px;
  margin: 3px 0 8px;
}

.inbox-panel-head > h1 > i {
  font-style: normal;
}

.inbox-panel-head > a {
  color: #757575;
  display: inline-block;
  font-size: 12px;
  letter-spacing: 0.4px;
  margin-right: 10px;
  margin-top: 1px;
}

.inbox-panel-head > a > i {
  margin-right: 5px;
}

.inbox-panel-head > ul {
  float: left;
  list-style: outside none none;
  margin: 25px 0 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

.inbox-panel-head > ul > li {
  display: inline-block;
  float: none;
}

.inbox-panel-head > ul > li > a {
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  -ms-border-radius: 45px;
  -o-border-radius: 45px;
  border-radius: 45px;
  color: #fff;
  float: left;
  font-size: 14px;
  padding: 8px 35px;
}

.message-list > li:last-child {
  border-bottom: medium none;
}

.inbox-navigation > ul {
  float: left;
  list-style: outside none none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.inbox-navigation > ul > li > a {
  float: left;
  font-size: 14px;
  letter-spacing: 0.5px;
  cursor: pointer;
  width: 80%;
  font-weight: 600;
}

.inbox-navigation > ul > li {
  background: #fafafa none repeat scroll 0 0;
  float: left;
  margin-bottom: 1px;
  padding: 16px 40px;
  width: 100%;
}

.inbox-navigation > ul > li > a > i {
  color: #a0a0a0;
  font-size: 14px;
  margin-right: 3px;
  width: 21px;
}

.inbox-navigation > ul > li > span {
  background: #ff5f5f none repeat scroll 0 0;
  color: #ffffff;
  float: right;
  font-size: 12px;
  font-weight: 600;
  height: 20px;
  text-align: center;
  width: 20px;
  line-height: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.flaged {
  float: left;
  width: 100%;
}

.flaged > h3 {
  float: left;
  font-size: 16px;
  margin: 10px 0 0;
  padding: 24px 39px;
  width: 100%;
  font-weight: bold;
}

.flaged > h3 > i {
  margin-right: 13px;
}

.flaged > ul {
  float: left;
  list-style: outside none none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.flaged li {
  float: left;
  padding: 8px 37px;
  width: 100%;
}

.flaged li a i {
  margin-right: 10px;
}

.inbox-lists {
  float: left;
  width: 100%;
}

.inbox-action {
  background: #ffffff none repeat scroll 0 0;
  float: left;
  margin-bottom: 2px;
  width: 100%;
}

.inbox-action > ul {
  float: left;
  list-style: outside none none;
  margin: 0;
  padding: 20px 30px;
  width: 100%;
}

.inbox-action > ul > li {
  float: left;
  margin-right: 20px;
}

.inbox-action > ul > li > label,
.inbox-action > ul > li > a {
  color: #959595 !important;
  float: left;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  margin: 0;
  cursor: pointer;
}

.inbox-action > ul > li > label input {
  float: left;
  margin: 4px 8px 0 0;
}

.inbox-action > ul > li > a i {
  font-size: 14px;
  margin-right: 5px;
  width: 13px;
}

.mesages-lists {
  background: #ffffff none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  padding-top: 120px;
  position: relative;
  width: 100%;
}

.mesages-lists > form {
  left: 50%;
  max-width: 92%;
  position: absolute;
  top: 40px;
  transform: translate(-50%);
  width: 100%;
}

.mesages-lists > form input {
  background: #f5f5f5 none repeat scroll 0 0;
  border: 1px solid #dadede;
  border-radius: 30px;
  color: #7b7b7b;
  float: left;
  font-size: 15px;
  padding: 7px 20px;
  width: 100%;
}

.message-list {
  float: left;
  list-style: outside none none;
  margin: 0;
  padding: 0 30px;
  width: 100%;
  max-height: 690px;
  position: relative;
  box-shadow: 0 1px 3px #ccc;
}

.message-list > li {
  border-bottom: 1px solid #e8ecec;
  float: left;
  padding-bottom: 22px;
  padding-top: 22px;
  width: 100%;
}

.message-list > li > .select-message {
  float: left;
}

.message-list > li > span.star-this {
  cursor: pointer;
  float: left;
  padding-left: 16px;
  width: 40px;
  line-height: 0;
}

.message-list > li > .sender-name {
  display: inline-block;
  font-size: 14px;
  margin: 0;
  width: auto;
  vertical-align: top;
}

.message-list > li > span.make-important {
  cursor: pointer;
  float: left;
  margin-right: 30px;
  line-height: 0;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.message-list > li > p {
  float: left;
  margin: 5px 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  cursor: pointer;
}

.message-list > li > a {
  color: #afafaf;
  display: inline-block;
  font-size: 13px;
  margin-left: 40px;
}

.message-list > li > span.star-this.starred {
  color: orange;
}

.message-list > li > span.star-this.starred > i::before {
  content: "\f005";
}

.message-list > li > span.make-important.important-done {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  color: #ff5f5f;
}

.checkbox label,
.form-radio label {
  color: #676767;
}

.form-group input.form-file,
.form-group input.has-value,
.form-group input:focus,
.form-group input:valid,
.form-group select,
.form-group textarea.form-file,
.form-group textarea.has-value,
.form-group textarea:focus,
.form-group textarea:valid {
  color: #2a2a2a;
}

.row.widget-page {
  padding: 0 80px;
}

.row.widget-page aside.sidebar {
  width: 100%;
}

