<div class="chat-box">
    <div class="chat-head">
        <span class="status f-online"></span>
        <h6>{{myDetail.last_name}} {{myDetail.first_name}} </h6>
        <div class="more">
            <span><i class="ti-more-alt"></i></span>
            <span class="close-mesage"  (click)="close()"><i class="ti-close"></i></span>
        </div>
    </div>
    <div class="chat-list">
        <ul style="height:90%;overflow:auto;">
            <li *ngFor="let message of receivedMessagesDatabase" [ngClass]="message.messageFrom==myId?'you':'me'">
                <div class="chat-thumb" *ngIf="message.messageFrom==myId"><img [src]="!myDetail.avatar_image?'https://res.cloudinary.com/viuni/image/upload/v1679817819/qcnaqac3vw1deasdfqt1.jpg':myDetail.avatar_image.link_image" alt=""></div>
                <div class="chat-thumb" *ngIf="message.messageFrom!=myId"><img [src]="!frienDetail.avatar_image?'https://res.cloudinary.com/viuni/image/upload/v1679817819/qcnaqac3vw1deasdfqt1.jpg':frienDetail.avatar_image.link_image" alt=""></div>
                <div class="notification-event">
                    <span class="chat-message-item">
                      {{message.messageText}}
                    </span>
                    <span class="notification-date"><time datetime="2004-07-24T18:18" class="entry-date updated" id="date">{{message.messageTime}}</time></span>
                </div>
            </li>
        </ul>
        <div class="text-box">
            <textarea placeholder="Viết tin nhắn ..." [(ngModel)]="messageText" (keyup.enter)="send()"></textarea>
            <div class="add-smiles">
                <span title="add icon" class="em em-expressionless"></span>
            </div>
            <div class="smiles-bunch">
                <i class="em em---1"></i>
                <i class="em em-smiley"></i>
                <i class="em em-anguished"></i>
                <i class="em em-laughing"></i>
                <i class="em em-angry"></i>
                <i class="em em-astonished"></i>
                <i class="em em-blush"></i>
                <i class="em em-disappointed"></i>
                <i class="em em-worried"></i>
                <i class="em em-kissing_heart"></i>
                <i class="em em-rage"></i>
                <i class="em em-stuck_out_tongue"></i>
            </div>
            <!-- <button type="submit">gui</button> -->
        </div>
    </div>
</div>
