
<h4 class="widget-title">Shortcuts</h4>
<ul class="naves">
    <li>
        <i class="ti-user"></i>
        <a [routerLink]="['/timeline', id, 'friends']" title="">Bạn bè</a>
    </li>
    <li>
        <i class="ti-user"></i>
        <a [routerLink]="['/timeline', id, 'followers']" title="">Người theo dõi</a>
    </li>
    <li>
      <i class="ti-user"></i>
      <a [routerLink]="['/timeline', id, 'following']" title="">Đang theo dõi</a>
  </li>
  <li>
      <i class="ti-image"></i>
      <a [routerLink]="['/timeline', id, 'photos']" title="">Hình ảnh</a>
  </li>
  <li [hidden]="!checkUser">
    <i class="ti-image"></i>
    <a [routerLink]="['/timeline', id, 'share']" title="">Đã lưu</a>
</li>
</ul>
