
<h4 class="widget-title">Shortcuts</h4>
<ul class="naves">
    <li>
        <i class="ti-user"></i>
        <a href="timeline-friends.html" title="">friends</a>
    </li>
    <li>
        <i class="ti-user"></i>
        <a href="timeline-photos.html" title="">Follower</a>
    </li>
    <li>
      <i class="ti-user"></i>
      <a href="timeline-photos.html" title="">Following</a>
  </li>
    <li>
      <i class="ti-image"></i>
      <a href="timeline-photos.html" title="">images</a>
  </li>
</ul>
