.photos {
  list-style: outside none none;
  margin-bottom: 0;
  padding-left: 0;
}

.photos > li {
  display: inline-block;
  min-width: 32.3%;
  width: 32.3%;
  margin: 0 1.3px;
}

.photos > li:hover a img {
  transform: scale(1.01);
}

.photos > li a {
  display: inline-block;
  overflow: hidden;
  width: 100%;
}

.photos > li a img {
  width: 100%;
}

.strip {
  display: inline-block;
  position: relative;
}

.page-header {
  background: #fbfbfb none repeat scroll 0 0;
  border-bottom: 1px solid #e1e8ed;
  border-top: 1px solid #e1e8ed;
  float: left;
  padding: 30px 15px;
  width: 100%;
}
.page-header .breadcrumb {
  float: right;
  padding-right: 30px;
  width: auto;
}
.header-inner {
  float: left;
  width: 100%;
}

.header-inner > h2 {
  font-size: 20px;
  text-transform: capitalize;
  width: 49.5%;
  display: inline-block;
  padding-left: 30px;
  vertical-align: middle;
}

.color-bg .breadcrumb-item.active {
  color: #d3d3d3;
}

.nearby-map #map-canvas {
  height: 330px;
}

.nearby-contct {
  display: inline-block;
  list-style: outside none none;
  margin-bottom: 0;
  margin-top: 35px;
  padding-left: 0;
  width: 100%;
}

.nearby-contct > li {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #eaf1f6;
  display: inline-block;
  margin-bottom: 20px;
  padding: 20px;
  width: 100%;
  transition: all 0.15s linear 0s;
}

.nearby-contct > li:last-child {
  margin-bottom: 0;
}

.nearby-contct > li:hover {
  box-shadow: 0 8px 8px #e1e8ec;
  border-color: transparent;
}

.nearly-pepls {
  display: inline-block;
  width: 100%;
}

.nearly-pepls > figure {
  display: inline-block;
  margin-bottom: 0;
  max-width: 60px;
  min-width: 60px;
  vertical-align: middle;
  width: 60px;
}

.pepl-info {
  display: inline-block;
  padding-left: 15px;
  position: relative;
  vertical-align: middle;
  width: 88%;
}

.pepl-info > h4 {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
}

a.add-butn {
  color: #fff;
  float: right;
  font-size: 13px;
  line-height: initial;
  padding: 5px 10px;
  position: absolute;
  right: 0;
  text-transform: capitalize;
  top: 10px;
}

.pepl-info > span {
  float: left;
  font-size: 13px;
  text-transform: capitalize;
  width: 100%;
  line-height: initial;
}

.pepl-info > em {
  display: inline-block;
  font-size: 13px;
  font-style: normal;
  line-height: initial;
  margin-left: 40px;
  text-align: right;
  vertical-align: baseline;
}

.pepl-info > em i {
  margin-right: 5px;
}
.lodmore {
  display: inline-block;
  width: 100%;
}

.btn-view.btn-load-more {
  background: #fff;
  border: medium none;
  border-radius: 100%;
  color: transparent;
  display: block;
  height: 50px;
  margin: 30px auto 0;
  position: relative;
  width: 50px;
  transition: all 0.2s linear 0s;
  z-index: 77;
}

.central-meta button.btn-view {
  background: #f1f1f1;
}

.btn-view.btn-load-more::before {
  color: #333;
  content: "\f01e";
  font-family: fontawesome;
  left: 50%;
  opacity: 1;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  z-index: 111;
  transition: all 0.2s linear 0s;
}

.btn-view.btn-load-more:hover::before {
  color: #fff;
  transform: translate(-50%, -50%) rotate(360deg);
}
