
    <h4 class="widget-title">Người theo dõi</h4>
      <ul class="followers" style="height:90%;overflow:auto;">
        <li *ngFor="let follower of listFollower">
            <figure> <img [src]="!follower.user_info.avatar_image?'https://res.cloudinary.com/viuni/image/upload/v1679817819/qcnaqac3vw1deasdfqt1.jpg':follower.user_info.avatar_image.link_image" style="width:40px;height:40px;" alt="" id="avatar"></figure>
            <div class="friend-meta">
                <h4><a [routerLink]="['/timeline', follower.user_info.id]">{{follower.user_info.last_name}} {{follower.user_info.first_name}}</a></h4>
                <div style="display: flex;">
                  <button class="button-10" role="button" (click)="addFriend(follower.user_info.id)">Thêm bạn bè</button>
                  <button class="button-11" role="button" (click)="follow(follower.user_info.id)">Theo dõi</button>
                </div>
            </div>
        </li>
    </ul>
