<div class="user-post">
  <div class="friend-info">
    <div class="friend-info" style="display: flex;">
        <figure>
          <img
          [src]="!commentDetail.author.avatar_image? 'https://res.cloudinary.com/viuni/image/upload/v1679817819/qcnaqac3vw1deasdfqt1.jpg': commentDetail.author.avatar_image.link_image" alt=""
            alt=""
          />
        </figure>
      <div class="friend-name">
          <ins
            ><a href="" title=""
              >
              {{ commentDetail.author.first_name }} {{ commentDetail.author.last_name }}
            </a></ins
          >
          <span>Ngày bình luận:{{commentDetail.created_date|date}}</span>

      </div>
      <mat-icon id="delete" style="float:right" mat-dialog-close>close</mat-icon>
    </div>
    <mat-dialog-content>
      <div class="description">
        <textarea rows="2" placeholder="write something" style="border: solid 2px #e4e6eb;" [(ngModel)]="content">
        </textarea>
      </div>
      </mat-dialog-content>
  </div>
  <mat-dialog-actions align="center">
    <button mat-raised-button color="primary" tabindex="1" (click)="update()">Sửa</button>
    <button mat-raised-button tabindex="-1" (click)="deletecomment()">Xóa</button>
  </mat-dialog-actions>

</div>
