<ul class="nearby-contct">
  <li *ngFor="let friendRequest of listFriendRequest">
    <div class="nearly-pepls">
      <figure>
        <a [routerLink]="['/timeline', friendRequest.user_info.id]" title=""
          ><img
            [src]="
              !friendRequest.user_info.avatar_image
                ? 'https://res.cloudinary.com/viuni/image/upload/v1679817819/qcnaqac3vw1deasdfqt1.jpg'
                : friendRequest.user_info.avatar_image.link_image
            "  style="width:50px;height:50px;"
            alt=""
        /></a>
      </figure>
      <div class="pepl-info">
        <h4>
          <a [routerLink]="['/timeline', friendRequest.user_info.id]" title=""
            >{{ friendRequest.user_info.last_name }}
            {{ friendRequest.user_info.first_name }}</a
          >
        </h4>
        <a
          title=""
          class="add-butn more-action"
          style="
            background-color: #e4e6eb;
            border-radius: 20px;
            color: black;
            margin-right:30px;
          "
          data-ripple=""
          (click)="deleteRequest(friendRequest.user_info.id)"
          >Xóa</a
        >
        <a
          title=""
          class="add-butn"
          style="
            background-color:#1b74e4;
            border-radius: 20px;
            color: white;
          "
          data-ripple=""
          (click)="confirmReqest(friendRequest.user_info.id)"
          >Chấp nhận</a
        >
      </div>
    </div>
  </li>
</ul>
<button class="btn-view btn-load-more" (click)="loadAdd()"></button>
