::ng-deep .custom-style {
  background-color: green;
  color: white;
}

::ng-deep .error-custom-style {
  background-color: #CC9966;
  color: white;
}
a:hover{
  color: #367AF6;
}
.add-butn .more-action:hover{
  background-color: #1877F2;
}
.add-butn:hover{
  background-color: #9aa4b0;
}
