.btn-success {
  color: #fff;
  background-color: #198754;
  border-color: #198754;
  margin-right: 20px;
}
.log-reg-area > h2 {
  font-weight: bold;
  text-transform: capitalize;
}
::ng-deep .custom-style {
  background-color: green;
  color: white;
}

::ng-deep .error-custom-style {
  background-color: #CC9966;
  color: white;
}
span{
  font-size: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
  font-size: 10px;
}
