<div class="login-reg-bg">
    <div class="log-reg-area sign">
      <div class="central-meta">
        <div class="editing-info">
          <h5 class="f-title"><i class="ti-lock"></i>Thay đổi mật khẩu</h5>
          <form method="post" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <input type="password" formControlName="oldPassword" [(ngModel)]="oldPassword" required="required"/>
              <label class="control-label" for="input">Mật khẩu cũ</label><i class="mtrl-select"></i>
              <span class="text-danger"
                            *ngIf="(form.get('oldPassword').touched || form.get('oldPassword').dirty) && form.get('oldPassword').invalid">
                            Mật khẩu cũ phải có ít nhất 8 ký tự, ít nhất 1 chữ hoa, 1 chữ thường và 1 số
              </span>
            </div>
            <div class="form-group">
              <input type="password" id="input" formControlName="newPassword" [(ngModel)]="newPassword" required="required"/>
              <label class="control-label" for="input">Mật khẩu mới</label><i class="mtrl-select"></i>
              <span class="text-danger"
              *ngIf="(form.get('newPassword').touched || form.get('newPassword').dirty) && form.get('newPassword').invalid">
              Mật khẩu mới phải có ít nhất 8 ký tự, ít nhất 1 chữ hoa, 1 chữ thường và 1 số
            </span>
            </div>
            <div class="form-group">
              <input type="password" formControlName="newPasswordConfirmation" [(ngModel)]="newPasswordConfirmation" required="required"/>
              <label class="control-label" for="input">Nhập lại mật khẩu mới:</label><i class="mtrl-select"></i>
              <span class="text-danger"
                            *ngIf="(form.get('newPasswordConfirmation').touched || form.get('newPasswordConfirmation').dirty) && form.get('newPasswordConfirmation').invalid">
                           Mật khẩu không trùng khớp
              </span>
            </div>
            <div class="submit-btns">
              <button type="submit" class="btn btn-success"><span>Lưu</span></button>
              <button type="button" class="btn btn-danger" (click)="cancel()"><span>Hủy</span></button>
            </div>
          </form>
        </div>
      </div>
</div>
</div>
<!-- change-password -->
