<div class="theme-layout">
  <div class="container-fluid pdng0">
    <div class="row merged">
      <div
        class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
        style="background-color: #a1d0ea"
      >
        <div>
          <img
            src="../assets/images/password-removebg-preview.png"
            alt=""
            height="70%"
            style="margin-top: 70px; margin-left: 30%"
          />
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="login-reg-bg" style="background-color: #a1d0ea">
          <div
            class="log-reg-area sign"
            style="left: 250px; border-radius: 20px"
          >
            <h2 class="log-title">Thay đổi mật khẩu</h2>
            <form method="post" [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <input
                  type="password"
                  id="input"
                  formControlName="oldPassword"
                  [(ngModel)]="oldPassword"
                  required="required"
                />
                <label class="control-label" for="input">Mật khẩu cũ</label
                ><i class="mtrl-select"></i>
                <span
                  class="text-danger"
                  *ngIf="
                    (form.get('oldPassword').touched ||
                      form.get('oldPassword').dirty) &&
                    form.get('oldPassword').invalid
                  "
                >
                  Mật khẩu cũ phải có ít nhất 8 ký tự, ít nhất 1 chữ hoa, 1 chữ
                  thường và 1 số
                </span>
              </div>
              <div class="form-group">
                <input
                  type="password"
                  formControlName="newPassword"
                  [(ngModel)]="newPassword"
                  required="required"
                />
                <label class="control-label" for="input">Mật khẩu mới</label
                ><i class="mtrl-select"></i>
                <span
                  class="text-danger"
                  *ngIf="
                    (form.get('newPassword').touched ||
                      form.get('newPassword').dirty) &&
                    form.get('newPassword').invalid
                  "
                >
                  Mật khẩu mới phải có ít nhất 8 ký tự, ít nhất 1 chữ hoa, 1 chữ
                  thường và 1 số
                </span>
              </div>
              <div class="form-group">
                <input
                  type="password"
                  formControlName="newPasswordConfirmation"
                  [(ngModel)]="newPasswordConfirmation"
                  required="required"
                />
                <label class="control-label" for="input"
                  >Nhập lại mật khẩu</label
                ><i class="mtrl-select"></i>
                <span
                  class="text-danger"
                  *ngIf="
                    (form.get('newPasswordConfirmation').touched ||
                      form.get('newPasswordConfirmation').dirty) &&
                    form.get('newPasswordConfirmation').invalid
                  "
                >
                  Mật khẩu không trùng khớp
                </span>
              </div>
              <div class="submit-btns">
                <mat-dialog-actions align="center">
                  <button
                    mat-raised-button
                    color="primary"
                    type="submit"
                    tabindex="1"
                    style="margin-right: 30px"
                  >
                    Cập nhật
                  </button>
                  <a [routerLink]="['/home']"
                    ><button
                      color="blue"
                      mat-raised-button
                      mat-dialog-close
                      tabindex="-1"
                      type="button"
                    >
                      Hủy
                    </button></a
                  >
                </mat-dialog-actions>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
