<h2 class="log-title">Xác thực</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input type="text" id="input" formControlName="code"/>
        <label class="control-label" for="input">Vui lòng nhập mã xác nhận</label><i class="mtrl-select"></i>
      </div>
      <mat-dialog-actions align="right">
        <button mat-raised-button type="submit" color="primary" tabindex="1">Xác thực</button>
        <button mat-raised-button mat-dialog-close tabindex="-1" type="button" (click)="close()">Hủy</button>
      </mat-dialog-actions>
    </form>
