<div class="theme-layout">
  <div class="container-fluid pdng0">
    <div class="row merged">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="land-featurearea">
          <div class="land-meta">
            <h1>Tú Anh</h1>
            <p>Bắt đầu tạo tài khoản!</p>
            <div class="friend-logo">
              <span><img src="assets/images/wink.png" alt="" /></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="login-reg-bg">
          <div class="log-reg-area sign">
            <h2 class="log-title">Đăng ký</h2>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-6 mb-6">
                  <div class="form-group">
                    <input
                      type="text"
                      formControlName="firstName"
                      name="firstName"
                      [(ngModel)]="firstName"
                      id="first_name"
                    />
                    <label class="control-label" for="input">Tên :</label
                    ><i class="mtrl-select"></i>
                    <span
                      class="text-danger"
                      *ngIf="
                        (form.get('firstName').touched ||
                          form.get('firstName').dirty) &&
                        form.get('firstName').invalid
                      "
                    >
                      Yêu cầu nhập tên
                    </span>
                  </div>
                </div>
                <div class="col-md-6 mb-6">
                  <div class="form-group">
                    <input
                      type="text"
                      formControlName="lastName"
                      name="lastName"
                      [(ngModel)]="lastName"
                      id="lastName"
                    />
                    <label class="control-label" for="input">Họ đệm :</label
                    ><i class="mtrl-select"></i>
                    <span
                      class="text-danger"
                      *ngIf="
                        (form.get('lastName').touched ||
                          form.get('lastName').dirty) &&
                        form.get('lastName').invalid
                      "
                    >
                      Yêu cầu nhập họ tên đệm
                    </span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-6">
                  <div class="form-group">
                    <input
                      type="date"
                      formControlName="dob"
                      [(ngModel)]="dob"
                      name="dob"
                      id="dob"
                    />
                    <label class="control-label" for="input">Ngày sinh :</label
                    ><i class="mtrl-select"></i>
                    <span
                      class="text-danger"
                      *ngIf="
                        (form.get('dob').touched || form.get('dob').dirty) &&
                        form.get('dob').invalid
                      "
                    >
                      Yêu cầu nhập ngày sinh
                    </span>
                  </div>
                </div>
                <div class="col-md-6 mb-6">
                  <div class="form-group">
                    <input
                      type="text"
                      formControlName="email"
                      [(ngModel)]="email"
                      name="email"
                      id="email"
                    />
                    <label class="control-label" for="input">Email :</label
                    ><i class="mtrl-select"></i>
                    <span
                      class="text-danger"
                      *ngIf="
                        (form.get('email').touched ||
                          form.get('email').dirty) &&
                        form.get('email').invalid
                      "
                    >
                      Yêu cầu nhập email
                    </span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                  <label>Giới tính</label>
                  <div class="form-radio">
                    <div class="radio">
                      <label>
                        <input
                          type="radio"
                          name="gender"
                          checked="checked"
                          formControlName="gender"
                          [(ngModel)]="gender"
                          value="true"
                        /><i class="check-box"></i>Nam
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input
                          type="radio"
                          name="gender"
                          formControlName="gender"
                          [(ngModel)]="gender"
                          value="false"
                        /><i class="check-box"></i>nữ
                      </label>
                    </div>
                  </div>
                  <div></div>
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                  <label for="pass">Sở thích</label>
                  <div style="justify-content: space-between">
                    <div *ngFor="let favorite of favoriteList; let i=index">
                      <mat-checkbox [value]="favorite.id.toString()" (change)="onChange($event)">
                        {{favorite.favorite_name}}
                      </mat-checkbox>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                  <input
                    type="text"
                    formControlName="username"
                    [(ngModel)]="username"
                    name="username"
                    id="username"
                  />
                  <label class="control-label" for="input"
                    >Tên người dùng :</label
                  ><i class="mtrl-select"></i>
                  <span
                    class="text-danger"
                    *ngIf="
                      (form.get('username').touched ||
                        form.get('username').dirty) &&
                      form.get('username').invalid
                    "
                  >
                    Yêu cầu nhập tên người dùng
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                  <input
                    type="password"
                    formControlName="password"
                    [(ngModel)]="password"
                    name="password"
                    id="password"
                  />
                  <label class="control-label" for="input">Mật khẩu:</label
                  ><i class="mtrl-select"></i>
                  <span
                    class="text-danger"
                    *ngIf="
                      (form.get('password').touched ||
                        form.get('password').dirty) &&
                      form.get('password').invalid
                    "
                  >
                    Mật khẩu phải có ít nhất 8 ký tự, ít nhất 1 chữ hoa, 1 chữ
                    thường và 1 số
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                  <input
                    type="password"
                    formControlName="password_confirmation"
                    [(ngModel)]="password_confirmation"
                    name="password_confirmation"
                    id="password_confirmation"
                  />
                  <label class="control-label" for="input"
                    >Nhập lại mật khẩu :</label
                  ><i class="mtrl-select"></i>
                  <span
                    class="text-danger"
                    *ngIf="
                      (form.get('password_confirmation').touched ||
                        form.get('password_confirmation').dirty) &&
                      form.get('password_confirmation').invalid
                    "
                  >
                    Mật khẩu không trùng khớp
                  </span>
                </div>
              </div>
              <div class="submit-btns">
                <mat-dialog-actions align="center">
                  <button
                    mat-raised-button
                    color="primary"
                    type="submit"
                    tabindex="1"
                    style="margin-right: 30px"
                  >
                    Đăng ký
                  </button>
                  <a [routerLink]="['/login']"
                    ><button
                      color="blue"
                      mat-raised-button
                      mat-dialog-close
                      tabindex="-1"
                      type="button"
                    >
                      Đăng nhập
                    </button></a
                  >
                </mat-dialog-actions>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
