
<h4 class="widget-title">Bạn bè</h4>
<div id="searchDir"></div>
<ul id="people-list" class="friendz-list" style="height:90%;overflow:auto;">
    <li *ngFor="let friend of listFriend">
        <figure>
            <img (click)="showChat(friend.user_info.id)" [src]="!friend.user_info.avatar_image?'https://res.cloudinary.com/viuni/image/upload/v1679817819/qcnaqac3vw1deasdfqt1.jpg':friend.user_info.avatar_image.link_image" alt="" id="avatar" style="width:40px;height:40px;">
            <span class="status f-online"></span>
        </figure>
        <div class="friendz-meta">
            <a [routerLink]="['/timeline', friend.user_info.id]">{{friend.user_info.last_name}} {{friend.user_info.first_name}} </a>
            <i><a href="https://wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="a0d7c9ced4c5d2d3cfccc4c5d2e0c7cdc1c9cc8ec3cfcd">[email&#160;protected]</a></i>
        </div>
    </li>
</ul>
<app-chatbox [userId]="userTo"  (closeChat)="closeChat($event)"></app-chatbox>
