.liked{
  color:#41b4fb ;
}

.notliked {
  color: #8f898f;
}
#edit{
  color:green;
  margin-right:5px;
}
#delete{
  color:orangered;
}
#edit:hover {
  color: blue;
}
#delete:hover{
  color: blue;
}
::ng-deep .custom-style {
  background-color: green;
  color: white;
}

::ng-deep .error-custom-style {
  background-color: #CC9966;
  color: white;
}
::ng-deep .custom-dialog > mat-dialog-container {
  background-color: var(--background);
}
