<div class="row">
  <div class="col-lg-5">
    <!-- Circle Buttons -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary" *ngIf="btnAdd">Thêm địa chỉ</h6>
        <h6 class="m-0 font-weight-bold text-primary" *ngIf="btnUpdate">Sửa địa chỉ</h6>
      </div>
      <div class="card-body">
        <form id="categoryForm" name="categoryForm">
          <input
            id="name"
            name="name"
            [(ngModel)]="address"
            type="text"
            class="form-control"
            placeholder="nhập địa chỉ..."
            required="required"
            style="width: 100%;"
          />
          <br />
          <button style="margin-right:30px" id="btnSave" type="button" class="btn btn-primary"  *ngIf="btnAdd" margin-right="50px" (click)="addAddress()">Thêm</button>
          <button
            id="btnUpdate"
            type="button"
            class="btn btn-primary"
            style="margin-right:30px"
            *ngIf="btnUpdate"
            (click)="edit()"
          >
            Sửa
          </button>
          <button
            id="btnRest"
            type="button"
            class="btn btn-outline-secondary"
            *ngIf="btnAdd"
            style="margin-right:30px"
            (click)="reset()"
          >
            Reset
          </button>
          <button
            id="btnRest"
            type="button"
            class="btn btn-outline-secondary"
            *ngIf="btnUpdate"
            (click)="backAdd()"
            style="margin-right:30px"
          >
            Back
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-lg-7">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách địa chỉ</h6>
      </div>
      <div class="card-body">
        <table
          id="dataTable"
          class="table table-bordered"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <th>Tên địa chỉ</th>
            <th>Hành động</th>
          </thead>
          <tbody id="fetchData">
            <tr *ngFor="let a of addressList;let i=index;">
              <td>{{a.name}}</td>
              <td>
               <div >
                <mat-icon id="edit" (click)="editAddress(a)"> border_color</mat-icon>
                <mat-icon id="delete" (click)="deleteAddress(a)">cancel</mat-icon>
              </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

