<div class="row">
  <div class="col-lg-1">
  </div>
  <div class="col-lg-10">
    <div class="central-meta">
      <ul class="photos">
        <li *ngFor="let user of users">
          <a
            class="strip"
            [routerLink]="['/admin/view', user.id]"
            title=""
            data-strip-group="mygroup"
            data-strip-group-options="loop: false"
          >
            <img
              [src]="
                !user.avatar_image
                  ? 'https://res.cloudinary.com/viuni/image/upload/v1679817819/qcnaqac3vw1deasdfqt1.jpg'
                  : user.avatar_image.link_image
              "
              alt=""
              style="
                min-height: 250px;
                max-height: 250px;
                min-width: 250px;
                max-width: 250px;
              "
          /></a>
          <div class="strip" style="display: flex; justify-content: space-between">
            <div>
              <a
                style="
                  font-size: 12px;
                  font-weight: bolder;
                  color: black;
                  margin: 0 0 0px;
                "
                 [routerLink]="['/timeline', user.id]"
              >
                User name:{{ user.username }}
              </a>
              <p style="font-size: 10px">Ngày tham gia:{{ user.created_date|date}}</p>
            </div>
          </div>
        </li>
      </ul>
      <div class="lodmore"><button class="btn-view btn-load-more" (click)="loadAdd()"></button></div>
    </div>
  </div>
</div>

