
    <h4 class="widget-title">Shortcuts</h4>
    <ul class="naves">
        <li>
            <i class="ti-clipboard"></i>
            <a href="newsfeed.html" title="">Bảng tin</a>
        </li>
        <li>
            <i class="ti-files"></i>
            <a [routerLink]="['/timeline',id]">Trang cá nhân</a>
        </li>
        <li>
            <i class="ti-user"></i>
            <a href="timeline-friends.html" title="">Bạn bè</a>
        </li>
        <li>
            <i class="ti-image"></i>
            <a href="timeline-photos.html" title="">Hình ảnh</a>
        </li>
        <li>
            <i class="ti-bell"></i>
            <a href="notifications.html" title="">Notifications</a>
        </li>
        <li>
            <i class="ti-power-off"></i>
            <a href="landing.html" title="">Đăng xuất</a>
        </li>
    </ul>
