::ng-deep .custom-style {
  background-color: green;
  color: white;
}

::ng-deep .error-custom-style {
  background-color: #CC9966;
  color: white;
}
.quyen :hover{
  font-weight: bold;
}
.quyen{
  margin: 2px;
  width: 120px;
  background-color: #EBEDF0;
  color: black;
  border-radius: 5px;
}
