.button-10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px 4px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;
  font-size:12px;
  color: #fff;
  background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
   background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-10:hover{
  background: linear-gradient(180deg, #d368eb 0%, #dc57e8 100%);
}
.button-10:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}
::ng-deep .custom-style {
  background-color: green;
  color: white;
}

::ng-deep .error-custom-style {
  background-color: #CC9966;
  color: white;
}
